*{
      box-sizing: border-box;
  
      
}
body{
      background-image: url("assets/images/towfiqu-barbhuiya-w8p9cQDLX7I-unsplash.jpg")  ;
      background-repeat: no-repeat !important;
      background-size: auto 205%;
   
      
      
}


.container{
    height: 600px;
    background-color: transparent;
    margin-top: 2vh;
    margin-bottom: 1vh;


 }


 
 


/*FORM*/
.btn {
      border-color: rgb(0, 0, 0);
    
}